@import url("../index.css");

.entryGroup{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;


}

.entryCard{
    width: 26rem;
    height: 17.75rem;

    border-radius: 0.3125rem;
    border: 1px solid var(--light-theme-paper-border, rgba(255, 255, 255, 0.20));
    background: var(--lightElem, #FDFDFD);

    display: flex;
    flex-direction: row;

    box-shadow: 6px 6px 16px 0px rgba(209, 205, 199, 0.50), -6px -6px 16px 0px rgba(255, 255, 255, 0.50);

    background-color: var(--lightElem);
}

.entryPinned{
    background-color: var(--accCol);
    display: inline-block;
    height: 100%;
    margin: 0;
    width: 1rem;
    border-radius: .3125rem 0 0 .3125rem  ;
}

.entryCardContent{
    min-width: 23rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
    margin: 1rem;
}

.BrainDumpDot{
    background-color: var(--brainDump);
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 50%;
    margin: 0 0.5rem 0 0;
    display: inline-block;
}

.DailyChallengeDot{
    background-color: var(--dailyChallenge);
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 50%;
    margin: 0 0.5rem 0 0;
    display: inline-block;
}

.CreativityBoosterDot{
    background-color: var(--creativityBooster);
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 50%;
    margin: 0 0.5rem 0 0;
    display: inline-block;
}

.inputType{
    margin: 0;
}

.entryDate{
    color:var(--textInput2);
    font-size: 1rem;
    font-weight: 400;
}

.entryTitle{
    color: var(--text);
    font-size: 1.75rem;
    font-weight: 700;
    margin: 0.5rem 0;
    padding: 0;
}

.entryText{
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0.5rem 0;
    padding: 0;
}


.tagButton {
    color: var(--lightElem);
}

.projectButton {
    background-color: var(--background);
    color: var(--accCol);

}

.buttons-row{
    display: grid;
    grid-template-columns: 75% 25%;
}

.overlay{
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100vw; /* Full width (cover the whole page) */
    height: 100vh; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.entryDisplay{
    display: flex;
    width: 61rem;
    height: 51.75rem;
    padding: 1.9375rem 0.9995rem 37rem 1rem;
justify-content: center;
align-items: center;
flex-shrink: 0;
}