@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

                
:root {
  font-family: 'SF Pro Display', sans-serif;

  --brainDump: #3AA768;
  --creativityBooster: #56ADBA;
  --dailyChallenge: #EB4A4A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
  .light{
    --textInputLight: #D9D9DE;
    --textInput2: #ADACB5;
    --textInput: #D2D2D2;
    --textLighter: #3E4050;
    --text: #1B1C25;
    --background: #F4F4F4;
    --lightElem: #FDFDFD;

    color: var(--text);
    background-color: var(--background);
  }

  .dark{
    --textInputLight: #797979;
    --textInput2: #B4B4B4;
    --textInput: #D2D2D2;
  
    --text: #F0EEEF;
    --background: #343434;
    --lightElem: #3F3F3F;
  
    color: var(--text);
    background-color: var(--background);
  }

  .green{
    --accCol:#7BBB96;
  }
  .red{
    --accCol: #FF5F5F;
  }
  .purple{
    --accCol: #9287D7;
  }
  .yellow{
    --accCol: #FDC83A;
  }
  .orange{
    --accCol: #FFA552;
  }
  .blue{
    --accCol: #87CDD7;
  }
  .pink{
    --accCol: #F896AD;
  }




#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320;
  min-height: 100vh;
}

button{
  background-color: var(--accCol);
}