@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

                
:root {
  font-family: 'SF Pro Display', sans-serif;

  --brainDump: #3AA768;
  --creativityBooster: #56ADBA;
  --dailyChallenge: #EB4A4A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
  
.light{
    --textInputLight: #D9D9DE;
    --textInput2: #ADACB5;
    --textInput: #D2D2D2;
    --textLighter: #3E4050;
    --text: #1B1C25;
    --background: #F4F4F4;
    --lightElem: #FDFDFD;

    color: var(--text);
    background-color: var(--background);
  }

.dark{
    --textInputLight: #797979;
    --textInput2: #B4B4B4;
    --textInput: #D2D2D2;
  
    --text: #F0EEEF;
    --background: #343434;
    --lightElem: #3F3F3F;
  
    color: var(--text);
    background-color: var(--background);
  }

  .green{
    --accCol:#7BBB96;
  }
  .red{
    --accCol: #FF5F5F;
  }
  .purple{
    --accCol: #9287D7;
  }
  .yellow{
    --accCol: #FDC83A;
  }
  .orange{
    --accCol: #FFA552;
  }
  .blue{
    --accCol: #87CDD7;
  }
  .pink{
    --accCol: #F896AD;
  }



body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}

#AppContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

button{
  background-color: var(--accCol);
  color: var(--lightElem);
  cursor: pointer;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;

  border-style: none;
  border-radius: 0.125rem;
  box-shadow: 6px 6px 16px 0px rgba(209, 205, 199, 0.50), -6px -6px 16px 0px rgba(255, 255, 255, 0.50);
}